.dropdown-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 280px;
    position: absolute;
    flex-direction: column;
    padding: auto;
    background-color: white;
    top:90px;
    right: 40px;
    z-index: 5;

}